.callback-form {
  display: grid;
  margin-top: 28px;
}

.callback-form input {
  width: 100%;
  padding: 11px 16px 12px;
  margin: 0;
  margin-bottom: 22px;
}

.callback-form input[type="checkbox"] {
  width: 0;
}

.callback-form button {
  margin-top: 29px;
  padding: 11px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  background-color: $color-alice-blue;
  color: $color-tangaroa;
  transition: 0.5s;
  cursor: pointer;
}

.callback-form button:hover,
.callback-form button:focus {
  transform: scale(1.05);
  background-color: $color-whisper;
}

.callback-form button:active {
  transform: scale(0.9);
}
