.cruises {
  padding: 86px 0 120px;

  @include vp-1023 {
    padding: 90px 0 100px;
  }

  @include vp-767 {
    padding: 56px 0 65px;
  }
}

.cruises__title {
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  margin: 0;

  @include vp-1023 {
    font-size: 26px;
    line-height: 38px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
  }
}

.cruises ul,
.cruises ol {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 0 15px;

  @include vp-1279 {
    grid-template-columns: repeat(3, 1fr);
  }

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
  }

  @include vp-767 {
    margin-top: 31px;
    padding: 0 10px;
    grid-template-columns: 1fr;
  }
}
