.cruise-card {
  position: relative;
  background-color: $color-tangaroa;
  color: $color-alice-blue;
  height: 386px;
  padding: 28px 25px 35px 25px;
  overflow: hidden;

  @include vp-1023 {
    padding: 35px;
  }

  @include vp-767 {
    padding: 35px 25px;
  }
}

.cruise-card__offer {
  display: grid;
  height: 100%;
}

.cruise-card h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

.cruise-card dl {
  margin-top: 1px;
  margin-bottom: -12px;
}

.cruise-card dt {
  margin-top: 0px;
  font-size: 14px;
  line-height: 20px;
}

.cruise-card dd {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 20px;
  color: $color-quartz;
}

.cruise-card button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: $color-tangaroa;
  background-color: $color-alice-blue;
  width: 100%;
  padding: 9px 0;
  margin-top: auto;
  justify-self: end;
  transition: 0.5s;
}

.cruise-card button:hover,
.cruise-card button:focus {
  background-color: $color-whisper;
  transform: scale(1.1);
}

.cruise-card button:active {
  transform: scale(0.9);
}

.cruise-card__cover {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.7s;
}

.cruise-card__cover h3 {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.cruise-card__cover picture {
  width: 100%;
  height: 100%;
}

.cruise-card__cover img {
  width: 100%;
  height: 100%;
}

.cruise-card:hover,
.cruise-card:focus-within {
  .cruise-card__cover {
    opacity: 0;
    transform: translateY(100%);

    h3 {
      transform: scale(0);
    }
  }
}
