.cruise-card {
  position: relative;
  background-color: $color-tangaroa;
  color: $color-alice-blue;
  height: 386px;
  padding: 28px 25px 35px 25px;
  overflow: hidden;
  cursor: pointer;

  @include vp-1023 {
    padding: 28px 35px 36px;
  }

  @include vp-767 {
    padding: 28px 25px 36px;
  }
}

.cruise-card__offer {
  display: grid;
  height: 100%;
  overflow: scroll;
}

.cruise-card h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  margin: 0;
}

.cruise-card dl {
  margin: 0;
  margin-top: 1px;
  margin-bottom: -12px;
  padding: 0;

  @include vp-1023 {
    margin: 0;
    margin-top: 8px;
  }

  @include vp-767 {
    margin-top: 4px;
  }
}

.cruise-card dt {
  margin: 0;
  margin-top: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}

.cruise-card dd {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: $color-quartz;
}

.cruise-card a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: $color-tangaroa;
  text-align: center;
  background-color: $color-alice-blue;
  width: 100%;
  padding: 9px 0;
  margin-top: auto;
  justify-self: end;
  transition: 0.5s;
}

.cruise-card a:hover,
.cruise-card a:focus {
  background-color: $color-whisper;
  transform: scale(1.1);
}

.cruise-card a:active {
  transform: scale(0.9);
}

.cruise-card__cover {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.7s;
}


.cruise-card__cover h3 {
  content: "";
  position: absolute;
  bottom: 22px;
  left: 30px;

  @include vp-1023 {
    bottom: 28px;
    left: 35px;
  }

  @include vp-767 {
    bottom: 18px;
    left: 25px;
  }
}

.cruise-card__cover picture {
  width: 100%;
  height: 100%;
}

.cruise-card__cover img {
  width: 100%;
  height: 100%;
}

.cruise-card:hover,
.cruise-card:focus-within {
  .cruise-card__cover {
    opacity: 0;
    transform: translateY(100%);

    h3 {
      transform: scale(0);
    }
  }
}
