.custom-checkbox {
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: -1px;

  @include vp-767 {
    gap: 8px;
    margin-top: -3px;
    padding-right: 50px;
  }

  input:checked + .checkbox::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%) rotate(-45deg);
    border-bottom: 1px solid $color-sapphire;
    border-left: 1px solid $color-sapphire;
  }
}

.checkbox {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: $color-alice-blue;

  @include vp-767 {
    min-width: 20px;
    height: 20px;
  }
}

.custom-checkbox span {
  font-size: 10px;
  line-height: 12px;
}

.custom-checkbox:hover {
  outline: solid $color-quartz;
}

.custom-checkbox input:focus ~ .checkbox {
  transform: scale(1.1);
  outline: auto $color-sapphire;
}
