.greeting {
  position: relative;
  margin: 0;
  padding: 270px 0 286px;
  z-index: -1;

  @include vp-1023 {
    padding: 256px 0;
  }

  @include vp-767 {
    padding: 198px 0;
  }
}

.greeting h1 {
  font-size: 54px;
  line-height: 66px;
  color: $color-alice-blue;
  text-shadow: 0 4px 4px $color-transparent-black;
  padding: 0 95px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 60px;
    padding: 0;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
  }
}

.greeting p {
  font-size: 20px;
  line-height: 24px;
  color: $color-alice-blue;
  text-shadow: 0 4px 4px $color-transparent-black;
  padding: 12px 0 0 95px;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
    padding: 0;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
  }
}

.greeting picture {
  width: 100%;
  height: 100%;
}

.greeting img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -2;
  min-width: 320px;
}
