.logo {
  cursor: pointer;
  transition: 0.5s;
}

.logo:hover,
.logo:focus {
  transform: scale(1.2);
  opacity: 0.8;
}

.logo:active {
  transform: scale(0.8);
  opacity: 0.8;
}

.logo svg {
  fill: $color-alice-blue;

  @include vp-1023 {
    transform: scale(0.5);
  }

  @include vp-767 {
    transform: scale(0.6);
  }
}

