.map {
  display: grid;
  grid-template-columns: 48% auto;
  gap: 103px;
  padding: 120px 0;

  @include vp-1023 {
    gap: 30px;
    padding: 100px 0;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 42px;
    padding: 65px 0;
  }
}

.map h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  margin-bottom: 34px;
}

.map address {
  display: flex;
  gap: 10px;
  margin-bottom: 22px;
}

.map a {
  display: flex;
  gap: 10px;
}

.map span {
  font-family: $ff-montserrat-regular;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: $color-tangaroa;
}

.map__contacts {
  // align-self: center;
  padding: 74px 0 0 0;
}

.map__container {
  background-color: $color-torch-red;
  order: -1;
  width: 100%;
  height: 306px;

  @include vp-1023 {
    height: 335px;
  }

  @include vp-767 {
    order: 0;
    height: 316px;
  }
}
