.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 33px;
  align-items: center;

  @include vp-767 {
    display: none;
  }
}

.nav__list--active {
  @include vp-767 {
    display: block;
    width: 285px;
    background-color: white;
  }
}

.nav__link {
  font-size: 16px;
  line-height: 20px;
  filter:  drop-shadow(0px 4px 4px $color-default-black);
  cursor: pointer;

  @include vp-1023 {
    font-size: 14px;
    line-height: 18px;
  }
}

.nav__button {
  display: none;

  @include vp-767 {
    display: block;
  }
}
